*.swp
*.beam
*.dump
deps/*
ebin/*
rel/pusher*
log
*@nohost
.DS_Store
.eunit
rel/game_server
db/config_data.sql

app/models/config_*
include/config_names.hrl
include/db_config.hrl
include/db_schema.hrl
